<div style="height: 32%">

</div>
<mat-card>
        <mat-card-title>Acesso</mat-card-title>   
<div class="example-container">
    <mat-form-field>
        <input matInput placeholder="e-mail" type='text'>
    </mat-form-field>
            
    <mat-form-field>
      <input matInput placeholder="password" type='password'>
    </mat-form-field>
 </div>
 <mat-card-actions>
        <button mat-button>Login</button>
        <button mat-button>Cadastrar</button>
      </mat-card-actions>
</mat-card>